body{
    margin: 0%;
    text-align: center;
    background-color: rgb(86, 158, 148);

}
h1{
    text-align: center;
    /* font-size: large; */
}
form{
    text-align: center;
}
input{
    border-radius: 8px;
    width: 80%;
    height: 80%;
    margin-bottom: auto;
    padding: 10px;
}
button{
   border-radius: 5px;
    margin-left: 1%;
    padding: 5px;
    height: 40px;
    width: 80px;
    background-color: rgb(218, 178, 130);
}